.completed-wrapper{
    padding: 1.3rem;
    padding-top: 1.5rem;
}
.completed{
    font-size: 22px;
    font-weight: bold;
}

.week{
    padding-top: 1rem;
    font-weight: 500;
    color:rgba(14, 13, 13,0.8);
}

.gojo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.contents{
    border: 1px solid lightgrey;
    border-radius: 8px;
    padding: 20px;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.cont{
    display: flex;
    align-items: center;
    gap: 10px;
}
.title{
    font-size: 20px;
    font-weight: bold;
}

.dollar{
    font-weight: bold;
    margin-top: -1rem;
}

.date-jum{
    font-size: 15px;
    color: rgba(0, 0, 0,0.9);
}